img.icon {
    height: 16px;
    vertical-align: middle;
    background: none;
    text-decoration: none;
}

img.icon ~ span {
    vertical-align: middle;
}

.talk-footer {
    font-size: 14px;
    line-height: 20px;
}

.event {
    font-size: 14px;
}

.location {
    font-size: 14px;
    color: #0009;
}

.title {
}

.margin-xs {
    margin: 0 10px 10px 0;
}

table {
    display: table !important;
}

tr {
    border-top: none !important;
}

tr:first-child td {
    padding-top: 0 !important;
}

td {
    padding: 20px !important;
    border: none !important;
}

.date {
    font-size: 14px;
    color: #0009;
}
